//Mobile home starts//
.CPOSC-container {
  width: 100%;
}
  .CPOSC {
  width: 70%;
	height: 181px;
	font-family: $Lora-font;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.52;
	letter-spacing: 1px;
	text-align: left;
	color: #101010;
  margin: 38px 20% 25px 10%;
  }
  .presentations-and-sessions-cover-all-aspects-of-open-source-wi {
	width: 70%;
	height: 209px;
	font-family: $Lora-font;
	font-size: 17px;
	line-height: 1.41;
	letter-spacing: 0.9px;
	text-align: left;
	color: #101010;
  margin: 38px 20% 41px 10%;
}
.WhyCPOSC-container {
  width: 100%;
  height: 1157px;
  background-color: #ebebeb;
  padding: 63px 25px 0px 19px;
}
.WhyCPOSC {
font-size: 18px;
line-height: 24px;
letter-spacing: 0.9px;
text-align: left;
font-weight: bold;
margin: 0px 25% 0px 5%;
}
.CPOSC-p {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  margin: 0px 25% 69px 5%;
}
.Conference-section {
  width: 100%;
  height:auto;
}
.Conference-Sponsors {
  width: 90%;
  height: 21px;
  font-family: $Lora-font;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  margin: 64px 1% 0px 9%;
}
.ThankyouforsupportingopensourceinCentralPennsylvania {
  width: 70%;
	height: 41px;
	font-family: $Lora-font;
	font-size: 17px;
	line-height: 1.41;
	letter-spacing: 0.9px;
	text-align: left;
	color: #101010;
  margin: 15px 1% 21px 9%;
}
  .BECOME-A-SPONSOR-container {
  width: 281px;
	height: auto;
	background-color:$Darkyellow-color;
  margin: 0px 1% 68px 9%;
  padding: 15px 0px 15px 0px;
}
  .BECOME-A-SPONSOR {
    width: 85%;
  	height: 13px;
  	font-family: $Montserrat-font;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 1.73;
  	letter-spacing: 0.9px;
  	text-align: center;
  	color: $Header-fontcolor;
    text-decoration: none;
    padding: 0px 5% 0px 10%;
  }
  //Mobile home ends//
  //Mobile sponsor starts//
  //Section 1//
  .BecomeASponsor-mobile-container {
    width: 100%;
    height: auto;
    margin: 0px 15% 53px 1%;
  }
  .BecomeASponsor {
    @extend .CPOSC;
    height: 10px;
  }
  .BecomeASponsor-firstP {
    @extend .presentations-and-sessions-cover-all-aspects-of-open-source-wi;
    width: 70%;
    height: auto;
  }
  .BecomeASponsor-secondP {
    @extend .presentations-and-sessions-cover-all-aspects-of-open-source-wi;
    width: 70%;
    height: auto;
  }
  strong {
    font-weight: bold;
  }
  //Section 1 ends//
  //Section 2 begins//
  .AboutCPOSC-container{
	width: 100%;
	height: 1100px;
	background-color: #ebebeb;
}
.AboutCPOSC {
  width: 85%;
  font-family: $Montserrat-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: left;
  padding-top: 61px;
  margin: 0px 5% 0px 10%;
}
.ThetargetaudienceforCPOSC {
  width: 85%;
  height: auto;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  margin: 0px 5% 0px 10%;
  padding-top: 20px;
  font-family: $Lora-font;
}
ul {
  display: list-item;
  width: 85%;
  height: auto;
  font-size: 18px;
  font-family: $Lora-font;
}
li {
  margin:20px 5% 0px 12%;
}
  .WhysponsorCPOSC {
    @extend .AboutCPOSC;
  }
//Section 2 ends//
//Section 3 begins//
.sponsorship-packages-container {
  width: 100%;
  height: 399px;
}
.sponsorship-packages {
width: 98%;
height: 19px;
font-family: $Montserrat-font;
font-size: 21px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 1px;
text-align: left;
color: #101010;
margin:66px 5% 0px 12%;
}
.sponsorship-packages-paragraph {
width: 65%;
height: auto;
font-family: $Lora-font;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.8px;
text-align: left;
color: #101010;
margin: 26px 5% 0px 12%;
}
.sponsor-cposc-container {
width: 228px;
height: 49px;
background-color: #ffae00;
margin: 52px 5% 0px 12%;
padding-top: 10px;
}
.sponsor-cposc {
width: 100%;
height: 15px;
font-family: $Montserrat-font;
font-size: 16px;
font-weight: 500;
line-height: 2.25;
letter-spacing: 0.8px;
text-align: center;
color: #ffffff;
margin: 0px 8px 0px 40px;
text-decoration: none;
}
//Section 4 ends//
//Section 5 starts//
.conference-locations {
	width: 98%;
	height: 44px;
	font-family: $Montserrat-font;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.43;
	letter-spacing: 1px;
	text-align: left;
	color: #101010;
  margin: 52px 5% 0px 1%;
}
//mobile sponsor ends//
//mobile speakers and sessions begins//
.pleasenote-container {
  width: 100%;
  height: auto;
}
.pleasenote {
	width: 80%;
	height: 34px;
	font-family: $Montserrat-font;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.62;
	letter-spacing: 0.6px;
	text-align: left;
	color: #101010;
  margin: 48px 8% 0px 12%;
}
.RegistrationBreakfast {
  width: 80%;
  height: auto;
  font-family: $Montserrat-font;
  font-size: 19px;
  font-weight: bold;
  margin: 32px 8% 0px 12%;
}
.Ware-center {
  width: 35%;
  height: auto;
  font-family: $Lora-font;
  font-size: 16px;
  margin: 5px 8% 0px 12%;
}
.Opening {
  @extend .RegistrationBreakfast;
}
.Auditorium {
  @extend .Ware-center;
}
//Section 1 ends//
.First-session-container {
  width: 100%;
  height: 415px;
  background-color: #ebebeb;
  padding-top: 20px;
  margin-top: 20px;
  }
.FirstSession {
  width: 100%;
  height: auto;
  font-size: 18px;
  margin: 5px 8% 0px 12%;
  font-family: $Montserrat-font;
  font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.8px;
	color: #ffae00;
}
.nine-am {
  width: 100%;
  height: auto;
  font-family: $Lora-font;
  font-size: 16px;
  margin: 5px 8% 0px 12%;
}
.OMG {
  width: 70%;
  height: auto;
  font-family: $Montserrat-font;
  font-size: 19px;
  font-weight: 800;
  margin: 30px 8% 0px 12%;
}
.DonSchenck {
  width: 30%;
  height: auto;
  font-family: $Lora-font;
  font-size: 16px;
  margin: 10px 8% 0px 12%;
}
.RealityofDesktop {
  @extend .OMG;
}
.MathhewGorton {
  @extend .DonSchenck;
  width: 40%;
}
.NXDomain {
  @extend .OMG;
}
.ThomasDelrue {
  @extend .DonSchenck;
}
//section 2 beins//
.secondsession-container {
  width: 100%;
  height: 430px;
}
.SecondSession {
  @extend .FirstSession;
  margin-top: 20px;
}
.ten-am {
  @extend .nine-am;
}
.Kubernetes {
  @extend .OMG;
}
.MattRogish {
  @extend .DonSchenck;
}
.Real-time {
  @extend .OMG;
}
.RichEverts {
  @extend .DonSchenck;
}
.SoftwareDefined {
  @extend .OMG;
}
.TomSwarts {
  @extend .DonSchenck;
}
//section 3 begins//
