.PLATINUMSPONSORS {
    width: 90%;
    height: 14px;
    font-family: $Montserrat-font;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 1px;
    text-align: left;
    color: $Darkyellow-color;
    margin: 0px 1% 0px 9%;
}
.Seisan-img {
  width: 200px;
  height: 80px;
  margin: 22px 1% 0px 9%;
}
.gold-sponsors {
@extend .PLATINUMSPONSORS;
margin-top: 80px;
}
.Printedsolid-img {
width: 151px;
height: 93px;
margin: 35px 1% 0px 9%;
}
.shift-img {
width: 93px;
height: 94px;
margin: 0px 1% 0px 9%;
}
.linode-img {
width: 211px;
height: 83px;
margin: 27px 1% 0px 9%;
}
.Silver-sponsors {
@extend .PLATINUMSPONSORS;
margin-top: 63px;
}
.lulzbot-img {
width: 110px;
height: 113px;
margin: 25px 1% 0px 9%;
}
.tapestry-img {
  width: 80px;
	height: 99px;
  margin: 0px 1% 0px 9%;
}
.elastic-img {
  width: 179px;
	height: 62px;
  margin: 24px 1% 0px 9%;
}
.Bronze-sponsors {
  @extend .PLATINUMSPONSORS;
  margin-top: 63px;
}
.lullabot-img {
  width: 87px;
	height: 94px;
  margin: 21px 1% 0px 9%;
}
.Host-sponsors {
  @extend .PLATINUMSPONSORS;
  margin-top: 53px;
}
.millersville-img {
  width: 225px;
	height: 71px;
  margin: 16px 1% 0px 6%;
}
