  .CPOSC {
  width: 70%;
	height: 181px;
	font-family: $Lora-font;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.52;
	letter-spacing: 1px;
	text-align: left;
	color: #101010;
  margin: 38px 18% 25px 12%;
  }
  .presentations-and-sessions-cover-all-aspects-of-open-source-wi {
	width: 70%;
	height: 209px;
	font-family: $Lora-font;
	font-size: 17px;
	line-height: 1.41;
	letter-spacing: 0.9px;
	text-align: left;
	color: #101010;
  margin: 38px 18% 25px 12%;
}
