/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.hero, .sponsor-hero {
  width: 100%;
  height: 401px;
  position: relative;
  background-image: url("../images/background.jpg"); }

header {
  padding-top: 36px;
  padding-bottom: 27px;
  width: 100%;
  display: inline-flex; }

.CentralPennsylvaniaOpenSourceConference {
  width: 85%;
  height: 29px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.38;
  letter-spacing: 1.4px;
  text-align: left;
  color: #f5f5f5;
  margin: 2px 1% 10px 6%;
  display: inline-flex; }

nav {
  display: inline-flex; }

.dropbtn {
  background-color: #ffffff;
  color: white;
  width: 43px;
  height: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 9px; }

.dropdown {
  margin-right: 20px;
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffffff; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ffae00; }

.line-container {
  width: 100%;
  height: 5px;
  background-color: #ffffff; }

.IntotheGreatWideOpen, .speakers-sessions {
  width: 82%;
  height: 111px;
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #ffae00;
  margin: 73px 8% 30px 12%; }

.half-line, .half-line-sponsor, .half-line-speaker {
  width: 108px;
  height: 5px;
  background-color: #ffffff;
  margin: 0px 8% 31px 12%; }

.script-container {
  width: 280px;
  height: 178px;
  background-color: #ffae00;
  margin: 0px 10% 0px 12%; }

.aside-container, .aside-container-sponsor, .aside-container-speaker {
  width: 281px;
  height: 200px;
  background-color: #ffae00;
  margin: 13px 10% 0px 12%; }

.tickets-are-now-available {
  width: 90%;
  height: 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  color: #f5f5f5;
  padding: 40px 21px 0px 0px;
  margin: 0px 15% 0px 5%; }

.BUYTICKETS-container {
  width: 247px;
  height: 35px;
  background-color: #f5f5f5;
  margin: 31px 15% 0px 5%;
  padding: 19px 0px 0px 0px; }

.BUYTICKETS {
  width: 128px;
  height: 13px;
  font-family: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffae00;
  text-decoration: none;
  padding: 0px 59px 0px 60px; }

.sponsor-hero {
  height: 551px; }

.Sponsorthecentralpa {
  width: 68%;
  height: 277px;
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: #ffae00;
  margin: 73px 1% 10px 6%;
  display: inline-flex; }

.half-line-sponsor {
  margin: 40px 8% 31px 6%; }

.aside-container-sponsor, .aside-container-speaker {
  margin-top: 96px; }

.speakers-sessions {
  width: 100%;
  margin: 73px 1% 0px 6%; }

.half-line-speaker {
  margin: -30px 8% 53px 6%; }

.aside-container-speaker {
  margin-top: 155px; }

.CPOSC-container {
  width: 100%; }

.CPOSC, .BecomeASponsor {
  width: 70%;
  height: 181px;
  font-family: "Lora", serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.52;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  margin: 38px 20% 25px 10%; }

.presentations-and-sessions-cover-all-aspects-of-open-source-wi, .BecomeASponsor-firstP, .BecomeASponsor-secondP {
  width: 70%;
  height: 209px;
  font-family: "Lora", serif;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.9px;
  text-align: left;
  color: #101010;
  margin: 38px 20% 41px 10%; }

.WhyCPOSC-container {
  width: 100%;
  height: 1157px;
  background-color: #ebebeb;
  padding: 63px 25px 0px 19px; }

.WhyCPOSC {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: bold;
  margin: 0px 25% 0px 5%; }

.CPOSC-p {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  margin: 0px 25% 69px 5%; }

.Conference-section {
  width: 100%;
  height: auto; }

.Conference-Sponsors {
  width: 90%;
  height: 21px;
  font-family: "Lora", serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  margin: 64px 1% 0px 9%; }

.ThankyouforsupportingopensourceinCentralPennsylvania {
  width: 70%;
  height: 41px;
  font-family: "Lora", serif;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.9px;
  text-align: left;
  color: #101010;
  margin: 15px 1% 21px 9%; }

.BECOME-A-SPONSOR-container {
  width: 281px;
  height: auto;
  background-color: #ffae00;
  margin: 0px 1% 68px 9%;
  padding: 15px 0px 15px 0px; }

.BECOME-A-SPONSOR {
  width: 85%;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.73;
  letter-spacing: 0.9px;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  padding: 0px 5% 0px 10%; }

.BecomeASponsor-mobile-container {
  width: 100%;
  height: auto;
  margin: 0px 15% 53px 1%; }

.BecomeASponsor {
  height: 10px; }

.BecomeASponsor-firstP {
  width: 70%;
  height: auto; }

.BecomeASponsor-secondP {
  width: 70%;
  height: auto; }

strong {
  font-weight: bold; }

.AboutCPOSC-container {
  width: 100%;
  height: 1100px;
  background-color: #ebebeb; }

.AboutCPOSC, .WhysponsorCPOSC {
  width: 85%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: left;
  padding-top: 61px;
  margin: 0px 5% 0px 10%; }

.ThetargetaudienceforCPOSC {
  width: 85%;
  height: auto;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  margin: 0px 5% 0px 10%;
  padding-top: 20px;
  font-family: "Lora", serif; }

ul {
  display: list-item;
  width: 85%;
  height: auto;
  font-size: 18px;
  font-family: "Lora", serif; }

li {
  margin: 20px 5% 0px 12%; }

.sponsorship-packages-container {
  width: 100%;
  height: 399px; }

.sponsorship-packages {
  width: 98%;
  height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  margin: 66px 5% 0px 12%; }

.sponsorship-packages-paragraph {
  width: 65%;
  height: auto;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #101010;
  margin: 26px 5% 0px 12%; }

.sponsor-cposc-container {
  width: 228px;
  height: 49px;
  background-color: #ffae00;
  margin: 52px 5% 0px 12%;
  padding-top: 10px; }

.sponsor-cposc {
  width: 100%;
  height: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.25;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  margin: 0px 8px 0px 40px;
  text-decoration: none; }

.conference-locations {
  width: 98%;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  margin: 52px 5% 0px 1%; }

.pleasenote-container {
  width: 100%;
  height: auto; }

.pleasenote {
  width: 80%;
  height: 34px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.6px;
  text-align: left;
  color: #101010;
  margin: 48px 8% 0px 12%; }

.RegistrationBreakfast, .Opening {
  width: 80%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin: 32px 8% 0px 12%; }

.Ware-center, .Auditorium {
  width: 35%;
  height: auto;
  font-family: "Lora", serif;
  font-size: 16px;
  margin: 5px 8% 0px 12%; }

.First-session-container {
  width: 100%;
  height: 415px;
  background-color: #ebebeb;
  padding-top: 20px;
  margin-top: 20px; }

.FirstSession, .SecondSession, .thirdsession, .FourthSession {
  width: 100%;
  height: auto;
  font-size: 18px;
  margin: 5px 8% 0px 12%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #ffae00; }

.nine-am, .ten-am, .ten-forty, .one-onefive, .twelve-twofive {
  width: 100%;
  height: auto;
  font-family: "Lora", serif;
  font-size: 16px;
  margin: 5px 8% 0px 12%; }

.OMG, .RealityofDesktop, .NXDomain, .Kubernetes, .Real-time, .SoftwareDefined, .KubernetesDeep, .Linux, .WhyDevelopers, .Lightning, .OpenMobility, .Vault, .AdventuresofOpen {
  width: 70%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 800;
  margin: 30px 8% 0px 12%; }

.DonSchenck, .MathhewGorton, .ThomasDelrue, .MattRogish, .RichEverts, .TomSwarts, .MikeNewswanger, .Phil, .ScottWoods, .Auditorium, .DavidNesbitt, .JasonODonnell, .MichelleStyer {
  width: 30%;
  height: auto;
  font-family: "Lora", serif;
  font-size: 16px;
  margin: 10px 8% 0px 12%; }

.MathhewGorton {
  width: 40%; }

.secondsession-container {
  width: 100%;
  height: 430px; }

.SecondSession {
  padding-top: 30px; }

.thirdsession-container {
  width: 100%;
  height: 450px;
  background-color: #ebebeb; }

.thirdsession {
  padding-top: 30px; }

.MikeNewswanger {
  width: 40%; }

.section-four-container {
  width: 100%;
  height: 150px; }

.one-onefive {
  padding-top: 20px; }

.Lightning {
  margin: 5px 8% 0px 12%; }

.Auditorium {
  margin: 5px 8% 0px 12%; }

.FourthSession-container {
  width: 100%;
  height: 490px;
  background-color: #ebebeb; }

.FourthSession {
  padding-top: 30px; }

.PLATINUMSPONSORS, .gold-sponsors, .Silver-sponsors, .Bronze-sponsors, .Host-sponsors {
  width: 90%;
  height: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #ffae00;
  margin: 0px 1% 0px 9%; }

.Seisan-img {
  width: 200px;
  height: 80px;
  margin: 22px 1% 0px 9%; }

.gold-sponsors {
  margin-top: 80px; }

.Printedsolid-img {
  width: 151px;
  height: 93px;
  margin: 35px 1% 0px 9%; }

.shift-img {
  width: 93px;
  height: 94px;
  margin: 0px 1% 0px 9%; }

.linode-img {
  width: 211px;
  height: 83px;
  margin: 27px 1% 0px 9%; }

.Silver-sponsors {
  margin-top: 63px; }

.lulzbot-img {
  width: 110px;
  height: 113px;
  margin: 25px 1% 0px 9%; }

.tapestry-img {
  width: 80px;
  height: 99px;
  margin: 0px 1% 0px 9%; }

.elastic-img {
  width: 179px;
  height: 62px;
  margin: 24px 1% 0px 9%; }

.Bronze-sponsors {
  margin-top: 63px; }

.lullabot-img {
  width: 87px;
  height: 94px;
  margin: 21px 1% 0px 9%; }

.Host-sponsors {
  margin-top: 53px; }

.millersville-img {
  width: 225px;
  height: 71px;
  margin: 16px 1% 0px 6%; }

.Locations-container {
  width: 100%;
  height: 563px;
  background-color: #ffae00;
  margin-top: 59px; }

.conference-locations {
  width: 50%;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: left;
  color: #101010;
  padding: 75px 5% 0px 12%; }

.ware, .Prince, .Tellus {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  margin: 36px 5% 0px 13%; }

.location1, .n, .E {
  width: 50%;
  height: auto;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #101010;
  margin: 0px 5% 0px 13%; }

.Prince {
  margin-top: 44px; }

.map {
  width: 100%;
  height: 369px;
  background-color: grey; }

.footer {
  width: 100%;
  height: 502px;
  background-color: #313131; }

.code-of-conduct {
  width: 98%;
  height: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ebebeb;
  padding: 56px 0px 0px 20px;
  margin: 0px 1% 0px 1%; }

.code-of-conduct-paragraph {
  width: 70%;
  height: 111px;
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #ebebeb;
  padding: 22px 0px 0px 20px;
  margin: 0px 1% 0px 1%; }

.connect-with-cposc {
  width: 98%;
  height: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ebebeb;
  margin: 0px 1% 0px 1%;
  padding: 83px 0px 0px 20px; }

.cposc-2017 {
  width: 98%;
  height: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #ebebeb;
  margin: 0px 1% 0px 1%;
  padding: 84px 0px 0px 20px; }

/*# sourceMappingURL=style.css.map */
